nav > ul > li{
    display: inline-block;
    vertical-align: top;
    /* сделали что бы текст стал горизонтально */
    font-size: 17px;
    color: #111111;
    margin-right: 28px;
    position: relative;
    /* привязывает к элементу */
}
nav ul li a{
    color: inherit;
    letter-spacing: 0.2px;
}
nav .drop-down{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border: 1px solid;
    background-color: white;
    padding-top: 10px;
    min-width: 120px;
  
}
nav ul li:hover .drop-down{
    display: block;
}
nav .drop-down li a{
    display: block;
}
nav .drop-down li{
    position: relative;
}
nav .drop-down li a:hover{
    background-color: red;
}
nav .drop-down-2{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 140%;
    background-color: silver;
}
nav .drop-down li:hover .drop-down-2{
    display: block;
}
